.logo{
    width: 15px;
    height: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.txt_color_header {
    color: #625559;
}

#reveal span {
    color: #323F8F;
}

#reveal {
    font-size: 260%;
    font-weight: bold;
    margin-right: 380px;
}

.color_link {
    color: red;
}

[href] {
    font-weight: bold;
}

.jumbotron {
    background-image: url("img/3.jpg");
    height: 600px;
    
}

.color_green {
    color: #50D8AF;
}

.jumbotron h1 {
    font-size: 400%;
    color: #0C2E8A;
}

.button1 {
    background-color: #0C2E8A;
     
}

.button2 {
    background-color: #50D8AF;
}

.jumbotron span {
    color: #50D8AF;
    text-decoration: underline;
}

